body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.small-text {
    font-size: 16px;
}

body {
    background: url('../images/background1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: white;
    margin-top: auto;
    width: 100%;
    margin-bottom: 0px;
}


.nav-link {

    font-size: 3rem;
    /* Mărește dimensiunea fontului */
    font-family: 'Montserrat', sans-serif;
}

.main-nav .btn {
    padding: 10px 20px;
    /* ajustează spațiul în interiorul butonului */
    font-size: 1rem;
    /* ajustează dimensiunea textului în buton */
}

.navbar .container {
    margin-left: 10px;
    margin-right: 10px;
}

.main-nav ul {
    position: absolute;
    width: 100%;
    top: 40%;
    margin: 0;
    padding: 0;
}

.main-nav li {
    list-style: none;
    float: left;
}

.main-nav a {
    display: block;
    height: 50px;
    margin: 10px;
    padding: 2px 25px;
    text-decoration: none;
    border-radius: 30px;
    line-height: 45px;
    color: #FFF;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.main-nav li:nth-child(1) a {
    background: #000;
    border: 2px solid #fff;
}

.main-nav li:nth-child(1) a:hover {
    background: #000601;
    border: 2px solid #000000;
}

.main-nav li:nth-child(2) a {
    background: #000;
    border: 2px solid #fff;
}

.main-nav li:nth-child(2) a:hover {
    background: #000601;
    border: 2px solid #000000;
}

.main-nav li:nth-child(3) a {
    background: #000;
    border: 2px solid #fff;
}

.main-nav li:nth-child(3) a:hover {
    background: #000601;
    border: 2px solid #000000;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    margin-top: -5px;
}

img:hover {
    cursor: pointer;
}

.field {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.field h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}

.field p {
    margin: 0.5em 0;
    color: #666;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .search-bar form {
        flex-direction: column;
    }
}


.search-bar form {
    display: flex;
    gap: 10px;
}

.search-bar select,
.search-bar input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-bar select:focus,
.search-bar input:focus {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    outline: none;
}

.search-bar input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar input[type="submit"]:hover {
    background-color: #0056b3;
}